[Unit]
Description=AutoSSH service
After=network-online.target home.mount

[Service]
User=wuqin
Type=oneshot
ExecStart=/bin/bash /mnt/c/Users/13926/Desktop/Workspace/配置文件/dotfiles/data/scripts/autossh.sh
ExecStop=/usr/bin/killall -s KILL autossh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target