[Unit]
Description=AutoSSH service
After=network-online.target home.mount

[Service]
User=wuqin
Type=oneshot
ExecStart=/bin/bash {/path/to/dotfiles}/data/scripts/autossh.sh
ExecStop=/usr/bin/killall -s KILL autossh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target