[Unit]
Description=WiFi Reconnect Service
After=network-online.target

[Service]
Restart=always
RestartSec=3
ExecStart=/bin/bash /mnt/c/Users/13926/Desktop/Workspace/配置文件/dotfiles/data/scripts/wifi_reconnect.sh
ExecStop=/usr/bin/killall -s KILL wifi_reconnect


[Install]
WantedBy=multi-user.target