[Unit]
Description=Autostart
After=home.mount

[Service]
ExecStart=/bin/bash /mnt/c/Users/13926/Desktop/Workspace/配置文件/dotfiles/data/scripts/autostart.sh

[Install]
WantedBy=default.target