[Unit]
Description=Autostart
After=home.mount

[Service]
ExecStart=/bin/bash {/path/to/dotfiles}/data/scripts/autostart.sh

[Install]
WantedBy=default.target